body {
  background: #5e97cf;
  margin: 0;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  font-size: 1.2em;
}

.portrait {
  border-radius: 50%;
  max-height: 30vh;
}

#home {
  background-color: #15202b;
  display: table;
  height: 25vh;
  width: 100%;
  margin: 0;
}

#about {
  background-color: #f3f2f2;
  padding: 3rem 0;
}

#skills .lead {
  font-size: 2rem;
}

.titles {
  font-size: 2.8rem;
}

.sub-titles {
  font-size: 2rem;
}

.landing-text {
  text-align: center;
  font-family: "Lobster", cursive;
}

.landing-text h1 {
  font-size: 4rem;
  color: #f8f9fa;
}
.landing-text h3 {
  font-size: 3rem;
  color: #f8f9fa;
}

.landing-text p {
  font-size: 30px;
  color: #f8f9fa;
}

.padding {
  padding: 40px 0;
}

.padding img {
  width: 100%;
}

#project {
  background-color: #15202b;
}

#card-section {
  color: #111;
}

#fixed {
  background: url(img/showcase.jpeg) no-repeat center center fixed;
  display: table;
  height: 45vh;
  position: relative;
  width: 100%;
  background-size: cover;
}

footer {
  width: 100%;
  background-color: #15202b;
  padding: 1rem;
  color: #fff;
}

footer p {
  font-size: 20px;
}

.fa {
  padding: 15px;
  font-size: 3em;
  color: #fff;
}

.fa:hover {
  color: rgb(204, 201, 201);
  text-decoration: none;
}

.icon .fa {
  font-size: 7em;
}

@media (max-width: 768px) {
  .landing-text h1 {
    font-size: 4rem;
  }
  .landing-text {
    font-size: 3rem;
  }
  .fa {
    padding: 10px;
  }
  .icon .fa {
    font-size: 5em;
  }
}
